$main-bg: #222831;
$secondary-bg: #4D2068;
$main-color: white;

input {
  display: block;
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  margin-top: .5em;
  margin-bottom: 1em;
  font-size: 2em;
}

input:focus {
  border: .2em solid $secondary-bg;
}

header {
  text-align: center;
  font-size: 4em;
  margin-bottom: .4em;
}

label {
  font-size: 2.81em;
}

button {
  margin: auto;
  display: block;
  width: 71%;
  border: none;
  padding-top: .4em;
  padding-bottom: .4em;
  border-radius: 10%;
  background: $secondary-bg;
  color: $main-color;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2.81em;
}

@media (max-width: 1600px) {
  form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  form {
    width: 80%;
  }
}

@media (max-width: 450px) {
  form {
    width: 95%;
    // position: static;
  }
}