$main-bg: #222831;
$secondary-bg: #4f2069;
$main-color: white;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $main-bg;
}

::-webkit-scrollbar-thumb {
  background: $secondary-bg;
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 65%;
  margin: auto;
  background: rgba(79, 32, 105, .1);
  color: $main-color;
}

.pab {
  display: flex;
  justify-content: space-between;
}

.change {
  flex: 1;
  width: 10%;
  font-size: 1em;
  margin: 0;
}

p {
  flex: 4;
  margin: 0;
  height: 1em;
  position: relative;
  top: 1em;
  transform: translateY(-50%);
}

hr {
  margin-top: 0;
}

.setting {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.5em;
}

.profile-pic {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: auto;
  display: block;
}

#popup {
  background: #222831;
  border-radius: 2em;
}

.close {
  text-align: right;
  font-size: 3em;
  color: hsl(279, 53%, 60%);
  cursor: pointer;
}

@media (max-width: 840px) {
  main {
    width: 80%;
  }

  .profile-pic {
    width: 25vw;
    height: 25vw;
  }
}

@media (max-width: 730px) {
  main {
    width: 90%;
  }
}

@media (max-width: 300px) {
  main {
    width: 100%;
  }
}