$main-bg: #222831;
$secondary-bg: #4f2069;
$main-color: white;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $main-bg;
}

::-webkit-scrollbar-thumb {
  background: $secondary-bg;
}

main {
  width: 65%;
  margin: auto;
  background: rgba(79, 32, 105, .1);
  color: $main-color;
}

.group {
  display: flex;
  background: rgba(79, 32, 105, .1);
  margin-bottom: 2em;
  height: 15vh;
}

.group-logo {
  border-radius: 50%;
  background-color: red;
  width: 12vh;
  height: 12vh;
  position: relative;
  top: 7.5vh;
  transform: translateY(-50%);
  margin-left: 1em;
}

.group-name {
  font-size: .7em;
  height: max-content;
  position: relative;
  top: 7.5vh;
  transform: translateY(-50%);
}

h1 {
  text-align: left;
  margin-left: 1em;
  margin-bottom: 0;
}

@media (max-width: 840px) {
  main {
    width: 80%;
  }
}

@media (max-width: 730px) {
  main {
    width: 90%;
  }
}