.message-group {
  width: 60%;
  background: rgba(79, 32, 105, .1);
  margin-bottom: 1em;
  height: max-content !important;
  font-size: 2em;
  border-radius: 1em;
  margin-left: 1em;
  padding: .3em;
  display: block !important;
  clear: both;
}

.me {
  text-align: right;
  float: right;
  margin-right: 1em;
  margin-left: 0;
}

.nick-name {
  display: block;
}

// Todo: Add Chat form styling