$main-bg: #222831;
$secondary-bg: #4D2068;
$main-color: white;

nav {
  background: $secondary-bg;
  color: $main-color;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.spacer {
  height: 6vh;
}

.right {
  float: right;
  position: relative;
}

.nav-elem {
  display: inline-block;
  margin-right: 3vw;
  position: relative;
  top: 3vh;
  transform: translateY(-50%);
  font-size: 1.8em;
}

a {
  color: $main-color !important;
  text-decoration: none;
}

.logo {
  top: 3vh;
  position: relative;
  transform: translateY(-50%);
  height: 3vh;
  width: 3vh;
  background: pink;
}

a:hover {
  color: $main-color;
  opacity: .8;
}

@media (max-width: 768px) {
  .spacer {
    display: none;
  }
  nav {
    top: 94vh;
  }
  .logo {
    display: none;
  }
  .nav-elem {
    width: 25%;
    margin: 0;
  }
  .right {
    width: 100%;
    float: none;
    margin: 0;
    text-align: center;
  }
}